[Desktop Entry]
Name=Install NuitOS
Comment=Install NuitOS to your disk
Exec=ghostty -e nuit-installer
Icon=drive-harddisk
Terminal=false
Type=Application
Categories=System;
