[Desktop Entry]
Version=1.0
Type=Application
Name=Thunar
Comment=Browse the filesystem
Exec=thunar %F
Icon=system-file-manager
Terminal=false
Categories=System;FileTools;FileManager;
Keywords=file;manager;browser;explorer;
StartupNotify=true
NoDisplay=false
