set default=0
set timeout=5
set gfxmode=auto

insmod all_video
insmod gfxterm
insmod png

terminal_output gfxterm

menuentry "Nuit OS" {
    set root='(hd0,msdos1)'
    linux /boot/vmlinuz-linux archisobasedir=nuitos archisolabel=NuitOS quiet splash
    initrd /boot/initramfs-linux.img
}

menuentry "Nuit OS (NVIDIA)" {
    set root='(hd0,msdos1)'
    linux /boot/vmlinuz-linux archisobasedir=nuitos archisolabel=NuitOS nvidia-drm.modeset=1 quiet splash
    initrd /boot/initramfs-linux.img
}

menuentry "Nuit OS (Fallback)" {
    set root='(hd0,msdos1)'
    linux /boot/vmlinuz-linux archisobasedir=nuitos archisolabel=NuitOS quiet splash
    initrd /boot/initramfs-linux-fallback.img
}
