set default=0
set timeout=5
set gfxmode=auto

insmod all_video
insmod gfxterm
insmod png

terminal_output gfxterm

menuentry "NuitOS" {
    set root='(hd0,msdos1)'
    linux /boot/vmlinuz-linux archisobasedir=nuitos archisolabel=NuitOS
    initrd /boot/initramfs-linux.img
}

menuentry "NuitOS (NVIDIA)" {
    set root='(hd0,msdos1)'
    linux /boot/vmlinuz-linux archisobasedir=nuitos archisolabel=NuitOS nvidia-drm.modeset=1
    initrd /boot/initramfs-linux.img
}

menuentry "NuitOS (Fallback)" {
    set root='(hd0,msdos1)'
    linux /boot/vmlinuz-linux archisobasedir=nuitos archisolabel=NuitOS
    initrd /boot/initramfs-linux-fallback.img
}
